body{
    background-image: url("../images/background.jpeg");
}


h1 {
    font-size: 45px;
    width: 100%;
    text-align: center;
}

#computerDiv {
    width: 50%;
    float: left;
    text-align: center;
    font-size: 32px;
}

#userDiv {
    width: 50%;
    float: left;
    text-align: center;
    font-size: 32px;

}

#jewelDiv {
    width: 100%;
    text-align: center;
}


img {
    height: 100px;
    width: 100px;
    margin-right: 15px;
    margin-bottom: 30px;
}

#winsDiv {
    width: 50%;
    float: left;
    text-align: center;
    font-size: 32px;
}

#lossesDiv {
    width: 50%;
    float: left;
    text-align: center;
    font-size: 32px;
}